/* DrawingTool.css */

/* Button styles */
.button-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: black;
}

/* Menu styles */
.menu-container {
  position: fixed;
  top: 45px;
  left: 10px;
  z-index: 1000;
  background: #a9a9a9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.menu-header {
  font-size: 20px;
  border-bottom: 2px solid red;
  margin-top: -5px;
}

.drawing-modes {
  margin-bottom: 10px;
}

.drawing-modes-header {
  margin-bottom: 7px;
}

.drawing-modes-layout {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Drawing modes button styles */
.drawing-mode-button {
  border: solid 2px black transparent;
  cursor: pointer;
  margin-right: 10px;
  padding: 2px;
}

/* Color styles */
.color-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.selected-color-label {
  margin-right: 5px;
}

.selected-color {
  background-color: var(--color);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.delete-button {
  font-size: 24px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
}
